@import url(general.css);

.menuUL{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menuLI{
    padding: 5px;
    background-color: aqua;
}

#characterInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
}
#characterInfo div{
    margin: 10px;
}
#characterInfo div button{
    padding: 5px;
}




#physicalStatsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.physicalStats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    width: 95vw;
}
.physicalStat{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border: solid 2px black;
    width: 20%;
}
.physicalStat p{
    text-align: center;
}
.physicalStatText{
    font-size: 0.9rem;
}
.physicalStatInfo{
    font-size: 0.7rem;
}

#abilitiesSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abilities{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.ability{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}
.abilityValue{
    border: solid 1px black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}


#skillsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skillsTable{
    width: 95vw;
    border: solid 1px red;
    margin: 10px 0 10px 0;
}
.skillsThead{
    border: solid 1px blue;
    width: 33%;
}
.skillCareer, .skillRank{
    text-align: center;
}



#weaponSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weapons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.weapon{
    border: solid 2px green;
    width: 95vw;
}
.weapon h3{
    text-align: center;
}
.weaponSkillStats{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.weaponSkillStats div{
    border: solid 1px black;
    margin: 5px;
}
.weaponSkillStats div p{
    text-align: center;
}
.weapon p{
    text-align: center;
}


#motivationsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.motivations{
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.motivation{
    border: solid 1px Blue;
    padding: 5px;
}
.motivation h3{
    padding-bottom: 5px;
}




#obligationsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.obligations{
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.obligation{
    border: solid 1px purple;
    padding: 5px;
}
.obligation h3{
    padding-bottom: 5px;
}



#characterDescriptionSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.characterDescription{
    width: 95vw;
}



#criticalInjuriesSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.criticalInjuries{
    display: flex;
    align-items: center;
    width: 95vw;
}
.injuryValue{
    text-align: center;
    margin: auto;
}




#talentsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#talentsSection h2{
    font-size: 1.7rem;
}
.talents{
    display: flex;
    align-items: center;
    width: 95vw;
}
.talentName, .talentBookPage{
    text-align: center;
    margin: auto;
}



#inventorySection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carryLimitAndMoney{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
    margin: 10px 0 10px 0;
}
.carryLimitAndMoney p{
    padding: 5px;
}
.carryLimitAndMoney{
    width: 95vw;
    background-color: aquamarine;
}
.inventory{
    width: 95vw;
}
.inventoryLocation{
    width: 100%;
    margin-bottom: 15px;
}
.inventoryLocation h3{
    padding-bottom: 10px;
}
.itemActiveThead, .itemNameThead, .itemWeightThead, .itemQuantityThead{
    border: solid 1px yellowgreen;
}
.itemActive, .itemWeight, .itemQuantity{
    text-align: center;
}